.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.continaerDiv {
  padding: 4rem;
  text-align: left;
}

.myTable {
  /* border-color: rgb(222, 226, 230); */
  border: 1px solid rgb(222, 226, 230);
  margin-top: 30px;
}

.headerTitle {
  font-weight: 700;
  padding: 8px;
  text-align: left;
}

.table-data {
  padding: 8px;
  text-align: left;
}

.inputBox {
  font-size: 12px;
  /* border-color: rgb(222, 226, 230); */
  margin-bottom: 20px;
  padding: 6px;
  /* width: 241px; */
  /* height: 38px; */
  border-radius: 4px;
}

.inputBox:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.border {
  border-bottom: 1px solid rgb(222, 226, 230);
}

.message {
  text-align: left;
  font-weight: 700;
  margin-top: 10px;
}

.loader {
  margin: 10px 0;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0067ff, 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2),
      -2.6em 0em 0 0em rgba(0, 103, 255, 0.5), -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.7), 1.8em -1.8em 0 0em #0067ff,
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2),
      -2.6em 0em 0 0em rgba(0, 103, 255, 0.2), -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.5), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.7),
      2.5em 0em 0 0em #0067ff, 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2), 0em 2.5em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2), -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.5),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.7), 1.75em 1.75em 0 0em #0067ff, 0em 2.5em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2), -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.5), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.7), 0em 2.5em 0 0em #0067ff,
      -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2), -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.5),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.7), -1.8em 1.8em 0 0em #0067ff, -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.5), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.7), -2.6em 0em 0 0em #0067ff,
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.5),
      -2.6em 0em 0 0em rgba(0, 103, 255, 0.7), -1.8em -1.8em 0 0em #0067ff;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0067ff, 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2),
      -2.6em 0em 0 0em rgba(0, 103, 255, 0.5), -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.7), 1.8em -1.8em 0 0em #0067ff,
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2),
      -2.6em 0em 0 0em rgba(0, 103, 255, 0.2), -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.5), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.7),
      2.5em 0em 0 0em #0067ff, 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2), 0em 2.5em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2), -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.5),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.7), 1.75em 1.75em 0 0em #0067ff, 0em 2.5em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2), -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.5), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.7), 0em 2.5em 0 0em #0067ff,
      -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.2), -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.5),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.7), -1.8em 1.8em 0 0em #0067ff, -2.6em 0em 0 0em rgba(0, 103, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.5), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.7), -2.6em 0em 0 0em #0067ff,
      -1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 103, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 103, 255, 0.2),
      2.5em 0em 0 0em rgba(0, 103, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 103, 255, 0.2),
      0em 2.5em 0 0em rgba(0, 103, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 103, 255, 0.5),
      -2.6em 0em 0 0em rgba(0, 103, 255, 0.7), -1.8em -1.8em 0 0em #0067ff;
  }
}
